<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>GitHub[原生]响应式布局</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="js/main.js"></script>
</head>

<body>
	<div id="header">
		<div class="wrap">
			<a href="" class="logo"></a>
			<i></i>
			<ul class="nav">
				<li><a href="">Features</a></li>
				<li><a href="">Business</a></li>
				<li><a href="">Explore</a></li>
				<li><a href="">Marketplace</a></li>
				<li><a href="">Pricing</a></li>
			</ul>
			<p>
				<a href="">Sign In</a><span>or</span><a href="">Sign Up</a>
			</p>
			<form action="">
				<input type="text" placeholder="Search Github">
			</form>
		</div>
	</div>

	<div id="jumbotron">
		<div class="wrap">
			<div class="explain">
				<h1>Built for developers</h1>
				<p>GitHub is a development platform inspired by the way you work. From <a href="">open source</a> to <a
						href="">business</a>, you can host and review code, manage projects, and build software
					alongside millions of other developers.</p>
			</div>
			<div class="form">
				<form action="">
					<label for="">
						<span>Username</span>
						<input type="text" placeholder="Pick a username">
					</label>
					<label for="">
						<span>Email</span>
						<input type="email" placeholder="you@example.com">
					</label>
					<label for="">
						<span>Password</span>
						<input type="password" placeholder="Creare a password">
						<p>Use at least one letter, one numeral, and seven characters.</p>
					</label>
					<label for="">
						<input type="submit" value="Sign up for Github">
						<p>
							By clicking "Sign up for GitHub", you agree to our <a href="">terms of service</a> and <a
								href="">privacy policy</a>. We’ll occasionally send you account related emails.
						</p>
					</label>
				</form>
			</div>
			<div class="btn">
				<button>Sign up for Github</button>
			</div>
		</div>
	</div>

	<div id="universe">
		<a href="" class="wrap">
			<img src="img/universe_bg.png">
			<p>
				Be part of this Universe. Join us for three days of discovery at our flagship conference—tickets are
				almost sold out!
			</p>
			<img src="img/learn_more_bg.png">
		</a>
	</div>

	<div class="txt">
		<span>GitHub for teams</span>
		<h1>A better way to work together</h1>
		<p>GitHub brings teams together to work through problems, move ideas forward, and learn from each other along
			the way.</p>
		<p><a href="">Sign up your team</a></p>
	</div>

	<div id="team">
		<div class="team-body">
			<img src="img/home-illo-team.svg">
			<ul>
				<li>
					<a href="">
						<h2>Write better code</h2>
						<p>Collaboration makes perfect. The conversations and code reviews that happen in Pull Requests
							help your team share the weight of your work and improve the software you build. <span>Learn
								about code review.</span></p>
					</a>
				</li>
				<li>
					<a href="">
						<h2>Write better code</h2>
						<p>Collaboration makes perfect. The conversations and code reviews that happen in Pull Requests
							help your team share the weight of your work and improve the software you build. <span>Learn
								about code review.</span></p>
					</a>
				</li>
				<li>
					<a href="">
						<h2>Write better code</h2>
						<p>Collaboration makes perfect. The conversations and code reviews that happen in Pull Requests
							help your team share the weight of your work and improve the software you build. <span>Learn
								about code review.</span></p>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="txt">
		<span>Security and administration</span>
		<h1>Boxes? Check.</h1>
		<p>We worried about your administrative and security needs so you don’t have to. From flexible hosting to
			authentication options, GitHub can help you meet your team’s requirements.</p>
		<p><a href="">Learn about GitHub for Business</a></p>
	</div>

	<div id="business">
		<div class="business-body">
			<ul>
				<li>
					<h2>Code security</h2>
					<p>Prevent problems before they happen. Protected branches, signed commits, and required status
						checks protect your work and help you maintain a high standard for your code.</p>
				</li>
				<li>
					<h2>Code security</h2>
					<p>Prevent problems before they happen. Protected branches, signed commits, and required status
						checks protect your work and help you maintain a high standard for your code.</p>
				</li>
				<li>
					<h2>Code security</h2>
					<p>Prevent problems before they happen. Protected branches, signed commits, and required status
						checks protect your work and help you maintain a high standard for your code.</p>
				</li>
			</ul>
			<img src="img/home-illo-business.svg">
		</div>
	</div>

	<div class="txt">
		<span>Integrations</span>
		<h1>Build on GitHub</h1>
		<p>Customize your process with GitHub apps and an intuitive API. Integrate the tools you already use or discover
			new favorites to create a happier, more efficient way of working.</p>
		<p><a href="">Learn about Integrations</a></p>
	</div>

	<div id="integrations">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<p>
			<span>Sometimes, there’s more than one tool for the job.</span>
			<br>
			<span>Why not try something new?</span>
			<br>
			<a href="">Browse GitHub Marketplace</a>
		</p>
	</div>

	<div class="txt">
		<span>Community</span>
		<h1>Welcome home, developers</h1>
		<p>GitHub is home to the world’s largest community of developers and their projects...</p>
	</div>

	<div id="community">
		<ul>
			<li>
				<img src="img/community/01.png">
				<p>
					<a href="">Ariya Hidayat</a>
					<span>PhantomJS maintainer</span>
				</p>
			</li>
			<li>
				<img src="img/community/02.png">
				<p>
					<a href="">Ariya Hidayat</a>
					<span>PhantomJS maintainer</span>
				</p>
			</li>
			<li>
				<img src="img/community/03.png">
				<p>
					<a href="">Ariya Hidayat</a>
					<span>PhantomJS maintainer</span>
				</p>
			</li>
			<li>
				<img src="img/community/04.png">
				<p>
					<a href="">Ariya Hidayat</a>
					<span>PhantomJS maintainer</span>
				</p>
			</li>
			<li>
				<img src="img/community/05.png">
				<p>
					<a href="">Ariya Hidayat</a>
					<span>PhantomJS maintainer</span>
				</p>
			</li>
			<li>
				<img src="img/community/06.png">
				<p>
					<a href="">Ariya Hidayat</a>
					<span>PhantomJS maintainer</span>
				</p>
			</li>
			<li>
				<img src="img/community/07.png">
				<p>
					<a href="">Ariya Hidayat</a>
					<span>PhantomJS maintainer</span>
				</p>
			</li>
		</ul>
	</div>

	<div id="join">
		<p>
			Get started for free — join the millions of developers already using GitHub to share their code, work
			together, and build amazing things.
		</p>
		<form action="">
			<input type="text" placeholder="Pick a username"><input type="email" placeholder="Your email address"><input
				type="password" placeholder="Create a password"><input type="button" value="Sign up for Github">
		</form>
	</div>

	<div id="footer">
		<div class="wrap">
			<dl>
				<dt><strong>GitHub</strong></dt>
				<dd>&copy;2017</dd>
			</dl>
			<dl>
				<dt>Features</dt>
				<dd><a href="">Code review</a></dd>
				<dd><a href="">Project management</a></dd>
				<dd><a href="">Community</a></dd>
				<dd><a href="">Documentation</a></dd>
				<dd><a href="">Code hosting</a></dd>
			</dl>
			<dl>
				<dt>Platform</dt>
				<dd><a href="">Atom</a></dd>
				<dd><a href="">Electron</a></dd>
				<dd><a href="">GitHub Desktop</a></dd>
				<dd><a href="">Developers</a></dd>
			</dl>
			<dl>
				<dt>Community</dt>
				<dd><a href="">Personal</a></dd>
				<dd><a href="">Open source</a></dd>
				<dd><a href="">For Business</a></dd>
				<dd><a href="">For Education</a></dd>
				<dd><a href="">Sponsorships</a></dd>
			</dl>
			<dl>
				<dt>Company</dt>
				<dd><a href="">About</a></dd>
				<dd><a href="">Blog</a></dd>
				<dd><a href="">Customers</a></dd>
				<dd><a href="">Careers</a></dd>
				<dd><a href="">Press</a></dd>
				<dd><a href="">Shop</a></dd>
			</dl>
			<dl>
				<dt>Resources</dt>
				<dd><a href="">Contact GitHub</a></dd>
				<dd><a href="">Help</a></dd>
				<dd><a href="">Status</a></dd>
				<dd><a href="">Terms</a></dd>
				<dd><a href="">Privacy</a></dd>
				<dd><a href="">Security</a></dd>
				<dd><a href="">Training</a></dd>
			</dl>
		</div>
	</div>

</body>

</html>