.navbar-brand img {
    height: 120%;
}

.carousel img {
    width: 100%;
}

.banner-1 {
    margin-top: 70px;
    margin-bottom: 20px;
}

#banner-1 .carousel-caption {
    bottom: 50px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail h3 {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.thumbnail p {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

i {
    display: block;
    font-style: normal;
}

.container .jumbotron {
    border-radius: 0;
    background: url(../img/RW5kpU.jpg) 0 0 no-repeat;
    background-size: cover;
    height: 400px;
    padding-top: 100px;
}

.container .jumbotron h1, .container .jumbotron p {
    color: #fff;
}

.container .jumbotron h1 {
    font-size: 50px;
}

.footer {
    margin-top: 20px;
    background: #f7f7f7;
    padding-top: 20px;
}

dt {
    margin-bottom: 5px;
}

dd {
    font-size: 12px;
    line-height: 32px;
}